{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon feedback"></span>Got something to say to us? <strong>We'd love some feedback.</strong></h1>
    <div class="article plain">
        <div class="content">
            <h2>Send us feedback.</h2>
            <form id="form-contact-feedback" class="decorated-fields tabular" method="POST" action="/contact/feedback">
                <label for="name">
                    <span class="prefix">name</span>
                    <input type="text" name="name" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="email">
                    <span class="prefix">email</span>
                    <input type="text" name="email" value="" />
                    <span class="suffix"></span>                    
                </label>
                <label for="subject">
                    <span class="prefix">subject</span>
                    <input type="text" name="subject" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="body">
                    <span class="prefix">content</span>
                    <textarea name="body" cols="70" rows="10"></textarea>
                    <span class="suffix"></span>
                </label>
                <label for="captcha">
                    <span class="prefix">human beings only</span>
                    {{ captcha_html }}
                    <span class="suffix"></span>
                </label>
                <label for="submit">
                    <span class="prefix"></span>
                    <input type="submit" class="awesome-button large" name="submit" value="Send Message" />
                    <span class="suffix"></span>
                </label>
            </form>
        </div>
    </div>

{% endblock %}