{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon feedback"></span>Got something to say to us? <strong>We'd love some feedback.</strong></h1>
    <div class="article">
        <div class="content">
            <h2>Send us feedback.</h2>
            <p>Please enter information in all fields.</p>
            <form id="form-contact-feedback" class="decorated-fields vertical" method="POST" action="">
                <label for="name">
                    <span class="prefix">name</span>
                    <input type="text" name="name" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="email">
                    <span class="prefix">email</span>
                    <input type="text" name="email" value="" />
                    <span class="suffix">Kindly enter a valid email address as we will contact you using this information.</span>                    
                </label>
                <label for="subject">
                    <span class="prefix">subject</span>
                    <input type="text" name="subject" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="content">
                    <span class="prefix">content</span>
                    <textarea name="content" cols="50" rows="10"></textarea>
                    <span class="suffix"></span>
                </label>
                <label for="captcha">
                    <span class="prefix">human beings only (captcha)</span>
                    {{ captcha_html }}
                    <span class="suffix">A captcha is a test to distinguish between you and robots.  We dislike spam as much as you do and entering this information helps us receive genuine information.</span>
                </label>
                <label for="submit">
                    <span class="prefix"></span>
                    <input type="submit" class="awesome-button large" name="submit" value="&#10004; Send Feedback" />
                    <span class="suffix"></span>
                </label>
            </form>
        </div>
        <div class="aside">
            <h3>Website Feedback</h3>
            <p>Use this form to give us your feedback or report any problems you experienced finding information on our website. Please note that we cannot respond to general questions and/or information requests submitted through our Feedback site. This form will not help you receive customer support.</p>
            <p>Greatship strives to bring you the best energy and offshore services and warmly welcomes your feedback.</p>
            <h3>Are you a supplier?</h3>
            <p>If you're interested in telling us about your services, kindly make use of the <a href="/contact/suppliers">Supplier Relations</a> page.</p>
            <h3>Technical Assistance</h3>
            <p>If you need any technical assistance, you can contact us on any of the numbers provided on the <a href="/contact">Contact</a> page.</p>
            <h3>Fleet status</h3>
            <p>If you need up-to-date information about our services, kindly visit the <a href="/services/fleet">Fleet Status</a> page.</p>
        </div>
    </div>

{% endblock %}
