{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1><span class="icon financial"></span>We've worked hard.  <strong>Our numbers say it all.</strong></h1>
    <div class="article plain">
        <div class="content">
            <h2>Financial Statements</h2>
            <p>Note that although the company was incorporated in June 2002, operation began in the financial year 2006 - 2007, details of which are given below.</p>
            <table id="income-statement" class="classic chart" cellspacing="0" cellpadding="0">
                <caption>Income statement</caption>
                <thead>
                    <tr>
                        <th>Year</th>
                        <td>2002-2003</td>
                        <td>2003-2004</td>
                        <td>2004-2005</td>
                        <td>2005-2006</td>
                        <td>2006-2007</td>
                        <td>2007-2008</td>
                        <td>2008-2009</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Total Revenue</th>
                        <td>58.68</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>217</td>
                        <td>1064</td>
                        <td>2515</td>
                    </tr>
                    <tr>
                        <th>PBDIT</th>
                        <td>1.58</td>
                        <td>2.72</td>
                        <td>2.73</td>
                        <td>28.12</td>
                        <td>96</td>
                        <td>710</td>
                        <td>1116</td>
                    </tr>
                    <tr>
                        <th>Depreciation</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>30</td>
                        <td>140</td>
                        <td>329</td>
                    </tr>
                    <tr>
                        <th>Interest</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>43</td>
                        <td>124</td>
                        <td>279</td>
                    </tr>
                    <tr>
                        <th>Tax Provision</th>
                        <td></td>
                        <td>18.50</td>
                        <td></td>
                        <td>0.05</td>
                        <td>4</td>
                        <td>7</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th>PAT</th>
                        <td>1.58</td>
                        <td>21.22</td>
                        <td>2.73</td>
                        <td>28.07</td>
                        <td>19</td>
                        <td>440</td>
                        <td>506</td>
                    </tr>
                    <tr>
                        <th>EPS (INR)</th>
                        <td></td>
                        <td>0.42</td>
                        <td>0.05</td>
                        <td>0.56</td>
                        <td>1.75</td>
                        <td>10.32</td>
                        <td>6.41</td>
                    </tr>
                </tbody>
            </table>
            #*<div id="income-statement-chart" style="height:450px;width:700px"></div>*#
            <table id="asset-liability-statement" class="classic chart" cellspacing="0" cellpadding="0">
                <caption>Asset-Liability Statement</caption>
                <thead>
                     <tr>
                         <th>Year</th>
                         <td>2002-2003</td>
                         <td>2003-2004</td>
                         <td>2004-2005</td>
                         <td>2005-2006</td>
                         <td>2006-2007</td>
                         <td>2007-2008</td>
                         <td>2008-2009</td>
                     </tr>
                <thead>
                <tbody>
                     <tr>
                         <th>Share Capital</th>
                         <td>500</td>
                         <td>500</td>
                         <td>500</td>
                         <td>500</td>
                         <td>265</td>
                         <td>651</td>
                         <td>1741</td>
                     </tr>
                     <tr>
                         <th>Reserves and Surplus</th>
                         <td>2</td>
                         <td>23</td>
                         <td>26</td>
                         <td>54</td>
                         <td>2314</td>
                         <td>6229</td>
                         <td>9696</td>

                     </tr>
                     <tr>
                         <th>Secured Loans</th>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>641</td>
                         <td>2501</td>
                         <td>5974</td>
                     </tr>
                     <tr>
                         <th>Total Liabilities</th>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>3220</td>
                         <td>9447</td>
                         <td>17489</td>
                     </tr>
                     <tr>
                         <th>Fixed Assets</th>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>1491</td>
                         <td>4642</td>
                         <td>9003</td>
                     </tr>
                     <tr>
                         <th>Investments</th>
                         <td>498</td>
                         <td>477</td>
                         <td>474</td>
                         <td>446</td>
                         <td>1156</td>
                         <td>3631</td>
                         <td>8383</td>
                     </tr>
                     <tr>
                         <th>Net Current Assets</th>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>574</td>
                         <td>1174</td>
                         <td>103</td>
                     </tr>
                     <tr>
                         <th>Total Assets</th>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>3220</td>
                         <td>9447</td>
                         <td>17489</td>
                     </tr>
                 </tbody>
             </table>
             #*<div id="asset-liability-statement-chart" style="height:450px;width:700px"></div>*#
             <h2>Annual Reports</h2>
             <ul id="annual-report-list" class="list-view">
                 {% for annual_report in annual_reports %}
                     <li>
                         <a href="{{ annual_report.document_url }}"><img class="icon" src="{{ annual_report.cover_image_url }}" /></a>
                         <div class="title">
                             <h2><a href="{{ annual_report.document_url }}">{{ annual_report.title }}</a><strong>{{ annual_report.subtitle }}</strong></h2>
                         </div>
                         <div class="info"></div>
                     </li>
                 {% end %}
             </ul>
        </div>
    </div>
{% end %}


#*{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% end %}*#
