{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1><span class="icon financial"></span>We've worked hard.  <strong>Our numbers say it all.</strong></h1>
    <div class="article plain">
        <div class="content">
            <h3>Income statement</h3>
            <table class="classic" cellspacing="0" cellpadding="0"> 
                <thead>
                    <tr> 
                        <td class="column-head">Year</td> 
                        <td>2008-2009</td> 
                        <td>2007-2008</td>                                    
                        <td>2006-2007</td> 
                        <td>2005-2006</td> 
                        <td>2004-2005</td>                                    
                        <td>2003-2004</td> 
                        <td>2002-2003</td> 
                    </tr>
                </thead>
                <tbody> 
                    <tr> 
                        <td class="column-head">Total Revenue</td> 
                        <td>2515</td> 
                        <td>1064</td>                                    
                        <td>217</td> 
                        <td>-</td>                                    
                        <td>-</td> 
                        <td>-</td> 
                        <td>58.68</td> 
                    </tr> 
                    <tr> 
                        <td class="column-head">PBDIT</td> 
                        <td>1116</td> 
                        <td>710</td>                                    
                        <td>96</td> 
                        <td>(28.12)</td> 
                        <td>(2.73)</td>                                    
                        <td>(2.72)</td> 
                        <td>(1.58)</td> 
                    </tr> 
                    <tr> 
                        <td class="column-head">Depreciation</td> 
                        <td>329</td> 
                        <td>140</td>                                    
                        <td>30</td> 
                        <td>-</td> 
                        <td>-</td> 
                        <td>-</td> 
                        <td>-</td> 
                    </tr> 
                    <tr> 
                        <td class="column-head">Interest</td> 
                        <td>279</td> 
                        <td>124</td>                                    
                        <td>43</td> 
                        <td>-</td> 
                        <td>-</td>                                    
                        <td>-</td> 
                        <td>-</td> 
                    </tr> 
                    <tr> 
                        <td class="column-head">Tax Provision</td> 
                        <td>2</td> 
                        <td>7</td>                                    
                        <td>4</td> 
                        <td>(0.05)</td> 
                        <td>-</td>                                    
                        <td>18.50</td> 
                        <td>-</td> 
                    </tr> 
                    <tr> 
                        <td class="column-head">PAT</td> 
                        <td>506</td> 
                        <td>440</td>                                    
                        <td>19</td> 
                        <td>(28.07)</td> 
                        <td>(2.73)</td>                                    
                        <td>(21.22)</td> 
                        <td>(1.58)</td> 
                    </tr> 
                    <tr> 
                        <td class="column-head">EPS (INR)</td> 
                        <td>6.41</td> 
                        <td>10.32</td>                                    
                        <td>1.75</td> 
                        <td>(0.56)</td> 
                        <td>(0.05)</td>                                    
                        <td>(0.42)</td> 
                        <td>-</td> 
                    </tr> 
                </tbody> 
            </table>
        </div>
    </div>
{% endblock %}