{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon speed"></span>Our motto. <strong>Passion fuels performance.</strong></h1>
    <div class="article plain columns">
        <div class="content">
            <h2>Overview</h2>
            <p>Greatship (India) Limited (GIL), a wholly owned subsidiary of G E Shipping, is establishing itself as a premier service provider in the offshore energy exploration and production domain globally and in India. GIL enjoys the full financial support of G E Shipping and also conducts its operations with the same level of commitment and reliability that has been the hallmark of its parent since the year 1948.</p>
            <h2>Business Philosophy</h2>
            <p>GIL's business philosophy is to leverage capability beyond the management of its owned assets by entering into strategic alliances, and to be the partner-of-choice in the markets in which it operates.</p>
            <h2>Focus</h2>
            <p>GIL will focus on understanding and analyzing the global offshore industry and customer needs. Thereafter, by forming a network of strategic alliances with reputed service providers from across the globe, deploy this knowledge and infrastructure in delivering solutions that shall fulfill existing and anticipated needs of its customers effectively and optimally.</p>
            <h2>Professionalism</h2>
            <p>GIL works independent of any of the parent company's divisions or subsidiaries and comprises professionals who are among the best in the industry in their respective domains.</p>
        </div>
    </div>

{% endblock %}