{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon contact"></span>Got services that might interest us? <strong>Get in touch.</strong></h1>
    <div class="article plain">
        <div class="content">
            <p>Our purchasing mission is to procure materials and services from approved sources in a professional, ethical, competitive and cost effective manner consistent with company policies, procedures and business objectives, while promoting supplier relationships.</p>
            <p>GIL welcomes service providers to post in their presentations relating to the field of offshore oil field support services using the following form:</p>
            
            <h2>Tell us about yourself.</h2>
            <form id="form-contact-services" class="decorated-fields tabular" method="POST" action="">
                <label for="name">
                    <span class="prefix">name</span>
                    <input type="text" name="name" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="designation">
                    <span class="prefix">designation</span>
                    <input type="text" name="designation" value="" />
                    <span class="suffix"></span>                    
                </label>
                <label for="email">
                    <span class="prefix">email</span>
                    <input type="text" name="email" value="" />
                    <span class="suffix"></span>                    
                </label>                
                <label for="subject">
                    <span class="prefix">subject</span>
                    <input type="text" name="subject" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="content">
                    <span class="prefix">content</span>
                    <textarea name="content" cols="70" rows="10"></textarea>
                    <span class="suffix"></span>
                </label>
                <label for="captcha">
                    <span class="prefix">human beings only</span>
                    {{ captcha_html }}
                    <span class="suffix"></span>
                </label>
                <label for="submit">
                    <span class="prefix"></span>
                    <input type="submit" class="awesome-button large" name="submit" value="Send Message" />
                    <span class="suffix"></span>
                </label>
            </form>
        </div>

    </div>

{% endblock %}