[submodule "media/script/lib/chickoojs"]
	path = media/script/lib/chickoojs
	url = git://github.com/yesudeep/chickoojs.git

[submodule "app/lib/pyporter2"]
	path = app/lib/pyporter2
	url = git://github.com/mdirolf/pyporter2.git
[submodule "app/lib/gaeutilities"]
	path = app/lib/gaeutilities
	url = git://github.com/joerussbowman/gaeutilities.git
[submodule "app/lib/aeoid"]
	path = app/lib/aeoid
	url = git://github.com/Arachnid/aeoid.git
[submodule "app/lib/haggoo"]
	path = app/lib/haggoo
	url = git://github.com/yesudeep/haggoo.git
