{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1><span class="icon fleet"></span>Fleet Status. <strong>What's available for you?</strong></h1>
    <div class="article plain">
        <div class="content">
            <h2>Current fleet status.</h2>
            <p>The information presented below is as on {{ previous_month }}, {{ previous_year }}.</p>
            <table id="fleet" class="classic" border="0" cellspacing="0" cellpadding="0"> 
                <caption>Fleet Status</caption> 
                <thead> 
                    <tr> 
                        <th>Vessel Name</th> 
                        <th>Built</th> 
                        <th>Type</th> 
                        <th>Yard</th> 
                        <th>Deadweight (tons)</th> 
                        <th>Design</th> 
                        <th>BP (tons)</th> 
                        <th>DP</th> 
                        <th>FiFi</th> 
                        <th>Company</th> 
                        <th>Availability</th> 
                    </tr>
                </thead>
                <tbody>
                    {% if operating_rigs %}                        
                        <tr>
                            <th colspan="11">Operating Rigs</th>
                        </tr>
                        {% for vessel in operating_rigs %}                        
                            <tr> 
                                <td>{{ vessel.name }}</td> 
                                <td>{{ vessel.built }}</td> 
                                <td>{{ vessel.vessel_type }}</td> 
                                <td>{{ vessel.yard }}</td> 
                                <td>{% if vessel.deadweight_in_tons %}{{ vessel.deadweight_in_tons }}{% endif %}</td> 
                                <td>{{ vessel.design }}</td> 
                                <td>{% if vessel.bp_in_tons %}{{ vessel.bp_in_tons }}{% endif %}</td> 
                                <td>{% if vessel.dp %}{{ vessel.dp }}{% endif %}</td> 
                                <td>{% if vessel.fifi %}{{ vessel.fifi }}{% endif %}</td> 
                                <td>{{ vessel.company }}</td> 
                                <td>{{ vessel.when_available }}</td> 
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if operating_vessels %}                        
                        <tr>
                            <th colspan="11">Operating vessels</th>
                        </tr>
                        {% for vessel in operating_vessels %}                        
                            <tr> 
                                <td>{{ vessel.name }}</td> 
                                <td>{{ vessel.built }}</td> 
                                <td>{{ vessel.vessel_type }}</td> 
                                <td>{{ vessel.yard }}</td> 
                                <td>{% if vessel.deadweight_in_tons %}{{ vessel.deadweight_in_tons }}{% endif %}</td> 
                                <td>{{ vessel.design }}</td> 
                                <td>{% if vessel.bp_in_tons %}{{ vessel.bp_in_tons }}{% endif %}</td> 
                                <td>{% if vessel.dp %}{{ vessel.dp }}{% endif %}</td> 
                                <td>{% if vessel.fifi %}{{ vessel.fifi }}{% endif %}</td> 
                                <td>{{ vessel.company }}</td> 
                                <td>{{ vessel.when_available }}</td> 
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if under_construction_vessels %}                        
                        <tr>
                            <th colspan="11">Under-construction vessels</th>
                        </tr>
                        {% for vessel in under_construction_vessels %}                        
                            <tr> 
                                <td>{{ vessel.name }}</td> 
                                <td>{{ vessel.built }}</td> 
                                <td>{{ vessel.vessel_type }}</td> 
                                <td>{{ vessel.yard }}</td> 
                                <td>{% if vessel.deadweight_in_tons %}{{ vessel.deadweight_in_tons }}{% endif %}</td> 
                                <td>{{ vessel.design }}</td> 
                                <td>{% if vessel.bp_in_tons %}{{ vessel.bp_in_tons }}{% endif %}</td> 
                                <td>{% if vessel.dp %}{{ vessel.dp }}{% endif %}</td> 
                                <td>{% if vessel.fifi %}{{ vessel.fifi }}{% endif %}</td> 
                                <td>{{ vessel.company }}</td> 
                                <td>{{ vessel.when_available }}</td> 
                            </tr>
                        {% endfor %}
                    {% endif %}

#*
                    <tr> 
                        <td>1</td> 
                        <td>Greatdrill Chetna</td> 
                        <td>2009</td> 
                        <td>350' IC JU rig</td> 
                        <td>K Fels</td> 
                        <td>N/A</td> 
                        <td>KFELS B Class</td> 
                        <td>N/A</td> 
                        <td>N/A</td> 
                        <td>N/A</td> 
                        <td>GGES</td> 
                        <td>Mar, 2012</td> 
                    </tr> 
                    <tr> 
                        <td>2</td> 
                        <td>Greatdrill Chitra</td> 
                        <td>2009</td> 
                        <td>350' IC JU rig</td> 
                        <td>K Fels</td> 
                        <td>N/A</td> 
                        <td>KFELS B Class</td> 
                        <td>N/A</td> 
                        <td>N/A</td> 
                        <td>N/A</td> 
                        <td>GGES</td> 
                        <td>Oct, 2014</td> 
                    </tr> 
                    <tr> 
                        <td>3</td> 
                        <td>Greatship Disha</td> 
                        <td>1999</td> 
                        <td>PSV</td> 
                        <td>Aker</td> 
                        <td>3115 Tons</td> 
                        <td>UT755</td> 
                        <td>N/A</td> 
                        <td>DP I</td> 
                        <td></td> 
                        <td>GIL</td> 
                        <td>Jun, 2012</td> 
                    </tr> 
                    <tr> 
                        <td>4</td> 
                        <td>Greatship Diya</td> 
                        <td>2003</td> 
                        <td>PSV</td> 
                        <td>Aker</td> 
                        <td>3350 Tons</td> 
                        <td>UT755L</td> 
                        <td>N/A</td> 
                        <td>DP I</td> 
                        <td></td> 
                        <td>GIL</td> 
                        <td>Feb, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>5</td> 
                        <td>Greatship Dipti</td> 
                        <td>2005</td> 
                        <td>PSV</td> 
                        <td>Aker</td> 
                        <td>3300 Tons</td> 
                        <td>UT755LN</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td></td> 
                        <td>GIL</td> 
                        <td>Apr, 2012</td> 
                    </tr> 
                    <tr> 
                        <td>6</td> 
                        <td>Greatship Anjali</td> 
                        <td>2008</td> 
                        <td>AHTSV</td> 
                        <td>CDL</td> 
                        <td>2209 Tons</td> 
                        <td>MOSS 501</td> 
                        <td>87 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>May, 2011</td> 
                    </tr> 
                    <tr> 
                        <td>7</td> 
                        <td>Greatship Amrita</td> 
                        <td>2008</td> 
                        <td>AHTSV</td> 
                        <td>CDL</td> 
                        <td>2200 Tons</td> 
                        <td>MOSS 501</td> 
                        <td>88 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Jan, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>8</td> 
                        <td>Greatship Dhriti</td> 
                        <td>2008</td> 
                        <td>PSV</td> 
                        <td>Aker</td> 
                        <td>3350 Tons</td> 
                        <td>UT755LN</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Sep, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>9</td> 
                        <td>Greatship Dhwani</td> 
                        <td>2008</td> 
                        <td>PSV</td> 
                        <td>Aker</td> 
                        <td>3350 Tons</td> 
                        <td>UT755LN</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Jan, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>10</td> 
                        <td>Greatship Abha</td> 
                        <td>2009</td> 
                        <td>AHTSV</td> 
                        <td>CDL</td> 
                        <td>2200 Tons</td> 
                        <td>MOSS 501</td> 
                        <td>85 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GGOS</td> 
                        <td>Jan, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>11</td> 
                        <td>Greatship Akhila</td> 
                        <td>2009</td> 
                        <td>AHTSV</td> 
                        <td>Labroy</td> 
                        <td>1600 Tons</td> 
                        <td>KCM/Q441(D)</td> 
                        <td>82 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Apr, 2012</td> 
                    </tr> 
                    <tr> 
                        <td>12</td> 
                        <td>Greatship Asmi</td> 
                        <td>2009</td> 
                        <td>AHTSV</td> 
                        <td>Labroy</td> 
                        <td>1600 Tons</td> 
                        <td>KCM/Q441(D)</td> 
                        <td>89 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Jan, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>13</td> 
                        <td>Greatship Aditi</td> 
                        <td>2009</td> 
                        <td>AHTSV</td> 
                        <td>CDL</td> 
                        <td>2200 Tons</td> 
                        <td>MOSS 501</td> 
                        <td>90 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GGOS</td> 
                        <td>Jan, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>14</td> 
                        <td>Greatship Ahalya</td> 
                        <td>2009</td> 
                        <td>AHTSV</td> 
                        <td>Labroy</td> 
                        <td>1600 Tons</td> 
                        <td>KCM/Q441(D)</td> 
                        <td>85 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Jan, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>15</td> 
                        <td>Greatship Aarti</td> 
                        <td>2009</td> 
                        <td>AHTSV</td> 
                        <td>Labroy</td> 
                        <td>1600 Tons</td> 
                        <td>KCM/Q441(D)</td> 
                        <td>82 tons</td> 
                        <td>DP II</td> 
                        <td>FiFi I</td> 
                        <td>GIL</td> 
                        <td>Nov, 2012</td> 
                    </tr> 
                    <tr> 
                        <td>16</td> 
                        <td>Greatship Maya</td> 
                        <td>2009</td> 
                        <td>MPSSV</td> 
                        <td>Keppel</td> 
                        <td>4600 Tons</td> 
                        <td>MT 6012</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>Dec, 2011</td> 
                    </tr>  
                    <tr> 
                        <td>17</td> 
                        <td>Greatship Mohini</td> 
                        <td>2009</td> 
                        <td>MPSSV</td> 
                        <td>Keppel</td> 
                        <td>4600 Tons</td> 
                        <td>MT 6012</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>Feb, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>18</td> 
                        <td>Greatship Mamta</td> 
                        <td>2009</td> 
                        <td>MPSSV</td> 
                        <td>Keppel</td> 
                        <td>4600 Tons</td> 
                        <td>MT 6012</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>Apr, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>19</td> 
                        <td>Greatship Manisha</td> 
                        <td>2010</td> 
                        <td>MPSSV</td> 
                        <td>Keppel</td> 
                        <td>4600 Tons</td> 
                        <td>MT 6012</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>May, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>20</td> 
                        <td>Greatship Laxmi</td> 
                        <td>2009</td> 
                        <td>MSV</td> 
                        <td>MDL</td> 
                        <td>4000 Tons</td> 
                        <td>MT 6012 MK II</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>Apr, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>21</td> 
                        <td>Greatship Leela</td> 
                        <td>2010</td> 
                        <td>MSV</td> 
                        <td>MDL</td> 
                        <td>4000 Tons</td> 
                        <td>MT 6012 MK II</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>Jul, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>22</td> 
                        <td>Greatship Rekha</td> 
                        <td>2010</td> 
                        <td>ROV Support</td> 
                        <td>CDL</td> 
                        <td>3000 Tons</td> 
                        <td>Seatech Solutions</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>Feb, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>23</td> 
                        <td>Greatship Ramya</td> 
                        <td>2010</td> 
                        <td>ROV Support</td> 
                        <td>CDL</td> 
                        <td>3000 Tons</td> 
                        <td>Seatech Solutions</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GGOS</td> 
                        <td>May, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>24</td> 
                        <td>Greatship Rohini</td> 
                        <td>2010</td> 
                        <td>ROV Support</td> 
                        <td>CDL</td> 
                        <td>3000 Tons</td> 
                        <td>Seatech Solutions</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GIL</td> 
                        <td>Sep, 2010</td> 
                    </tr> 
                    <tr> 
                        <td>25</td> 
                        <td>Greatship Rashi</td> 
                        <td>2010</td> 
                        <td>ROV Support</td> 
                        <td>CDL</td> 
                        <td>3000 Tons</td> 
                        <td>Seatech Solutions</td> 
                        <td>N/A</td> 
                        <td>DP II</td> 
                        <td>Opt.</td> 
                        <td>GIL</td> 
                        <td>Jan, 2011</td> 
                    </tr> 
                    <tr> 
                        <td>26</td> 
                        <td>Greatship Shakti</td> 
                        <td>2011</td> 
                        <td>AHTSV</td> 
                        <td>DD</td> 
                        <td>2000 Tons</td> 
                        <td>Conan-Wu</td> 
                        <td>150</td> 
                        <td>DP II</td> 
                        <td>FiFi-1</td> 
                        <td>GIL</td> 
                        <td>Jan, 2011</td> 
                    </tr> 
                    <tr> 
                        <td>27</td> 
                        <td>Greatship Shanti</td> 
                        <td>2011</td> 
                        <td>AHTSV</td> 
                        <td>DD</td> 
                        <td>2000 Tons</td> 
                        <td>Conan-Wu</td> 
                        <td>150</td> 
                        <td>DP II</td> 
                        <td>FiFi-1</td> 
                        <td>GIL</td> 
                        <td>Mar, 2011</td> 
                    </tr>
*#
                </tbody> 
            </table>            

        </div>
    </div>
    
{% endblock %}