{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1><span class="icon safety"></span>Quality, Health, Safety, and Environment. <strong>Top Priority</strong></h1>
    <div class="article plain columns">
        <div class="content">
            <p>At Greatship, safety takes precedence and is followed and implemented strictly and religiously. The term "safety" does not only entail safety of life and cargo but also encompasses protection of the environment.</p>
            <p>Initiatives to implement and integrate strict safety measures for protection and preservation of environment have helped to uphold company's non-compromising attitude towards safety.</p>
            <p>All activities related to the operation and management of vessels and rigs engaged in offshore services are certified for Environment Management system (ISO 14001:2004) and occupational Health and Safety Management system (OHSAS 18001:2007). The company is already certified for Quality Management System (IS09001:2000) and ISM.</p>
        </div>
    </div>
{% endblock %}  