{% extends "base_site.html" %}

{% block tag_head %}
	{% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen" charset="utf-8" />
	{% endblock %}
	{% block tag_additional_stylesheets %}{% endblock %}
{% endblock %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="header">
		    <div id="nav">
		    {% block tag_nav %}
            <ul id="nav-logo">
                <li><a id="nav-logo-link" href="/"></a></li>
            </ul>
            <ul id="nav-links">
		        <li><a id="nav-home" href="/"></a></li>
		        <li><a id="nav-fleet" href="/services/fleet"></a></li>
		        <li><a id="nav-logistics" href="/services/logistics"></a></li>
		        <li><a id="nav-construction" href="/services/construction"></a></li>
		        <li><a id="nav-drilling" href="/services/drilling"></a></li>
		        <li><a id="nav-qhse" href="/services/qhse"></a></li>
		        <li><a id="nav-contact" href="/contact"></a></li>
		        <li><a id="nav-we-are-hiring" href="/careers"></a></li>		      
		    </ul>
		    {% endblock %}
		    </div>
            <div id="header-content">
			{% block tag_header_content %}
            {% endblock %}
            </div>
        </div>
		{% endblock %}
		{% block tag_trunk %}
		<div id="trunk">
			<div id="trunk-content">
			{% block tag_trunk_content %}
			{% endblock %}
			</div>
		</div>
		{% endblock %}
		{% block tag_footer %}
		<div id="footer">
			<div id="footer-content">
			{% block tag_footer_content %}

			{% endblock %}
            </div>
		</div>
		{% endblock %}
		{% endblock %}
	</div>
	{% endblock %}
{% endblock %}

