{% extends "base_site.html" %}

{% block tag_head %}
    <meta name="keywords" content="Greatship, Greatship India, Greatship Group, The Greatship Group, Greatship India Limited, Greatship India Ltd, shipping, India, logistics, offshore, rig, offshore construction, fleet, ship, global energy, global, dubai, south-east asia, south africe, mexican gulf, arabian sea, bombay high, oil rig, GGOS, GGES, GIL, greatship holdings, mauritius, singapore, mumbai" />
    <meta name="description" content="The Greatship Group is a global energy and offshore services provider." /> 
	<link type="application/atom+xml" rel="alternate" title="Greatship Group Press Releases &raquo; Feed" href="/press/feed/atom.xml" />

	{% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6{{CSS_MINIFIED}}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <![endif]-->
	{% end %}
	{% block tag_additional_stylesheets %}{% end %}
{% end %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="header">
		    <div id="nav">
		    {% block tag_nav %}
            <ul id="nav-logo">
                <li><a id="nav-logo-link" href="/"></a></li>
            </ul>
            <ul id="nav-links">
  		        <li><a id="nav-home" href="/"><span>Home</span></a></li>
  		        <li><a id="nav-fleet" href="/services/fleet"><span>Fleet</span></a></li>
  		        <li><a id="nav-logistics" href="/services/fleet/logistics"><span>Offshore Logistics</span></a></li>
  		        <li><a id="nav-construction" href="/services/fleet/construction"><span>Offshore Construction</span></a></li>
  		        <li><a id="nav-drilling" href="/services/fleet/drilling"><span>Offshore Drilling</span></a></li>
  		        <li><a id="nav-qhse" href="/services/qhse"><span>Quality, Health, Safety, and Environment</span></a></li>
  		        <li><a id="nav-contact" href="/contact"><span>Contact</span></a></li>
  		        <li><div id="cse"></div></li>
  		        <li><a id="nav-we-are-hiring" href="/careers"></a></li>		      
		        </ul>
        <!--[if lt IE 7]>
            <div id="navigation">
              <a id="nav-home" href="/"><img src="{{ MEDIA_URL }}image/icon/nav/home.png" title="Home" width="48px" height="48px" /></a>
              <a id="nav-fleet" href="/services/fleet"><img src="{{ MEDIA_URL }}image/icon/nav/fleet.png" title="Fleet" width="48px" height="48px" /></a>
              <a id="nav-logistics" href="/services/fleet/logistics"><img src="{{ MEDIA_URL }}image/icon/nav/logistics.png" title="Offshore Logistics" width="48px" height="48px" /></a>
              <a id="nav-construction" href="/services/fleet/construction"><img src="{{ MEDIA_URL }}image/icon/nav/construction.png" title=" Offshore Construction" width="48px" height="48px" /></a>
              <a id="nav-drilling" href="/services/fleet/drilling"><img src="{{ MEDIA_URL }}image/icon/nav/drilling.png" title="Offshore Drilling" width="48px" height="48px" /></a>
              <a id="nav-qhse" href="/services/qhse"><img src="{{ MEDIA_URL }}image/icon/nav/qhse.png" title="Quality, Health, Safety and Environment" width="48px" height="48px" /></a>
              <a id="nav-contact" href="/contact"><img src="{{ MEDIA_URL }}image/icon/nav/contact.png" title="Contact Us" width="48px" height="48px" /></a>
              <a id="nav-we-are-hiring" href="/careers"><img src="{{ MEDIA_URL }}image/icon/we-are-hiring.png" title="We are hiring" width="128px" height="128px" /></a>
            </div>
        <![endif]-->
		    {% end %}
		    </div>
            <div id="header-content">
			      {% block tag_header_content %}
            {% end %}
            </div>
        </div>
		{% end %}
		{% block tag_trunk %}
		<div id="trunk">
			<div id="trunk-content">
			{% block tag_trunk_content %}
			{% end %}
			</div>
		</div>
		{% end %}
		{% block tag_footer %}
		<div id="footer">
			<div id="footer-content">
			{% block tag_footer_content %}
		    <h2><a id="nav-motto-link" href="/about/mission">Passion Fuels Performance</a></h2>
            <ul class="footer-menu"> 
                    <li>
                        <h2>About</h2> 
                        <ul> 
                            <li><a href="/">Home</a></li> 
                            <li><a href="/about/mission">Our Motto</a></li> 
                            <li><a href="/about/management">Management</a></li> 
                            <li><a href="/about/financial">Financials</a></li> 
                            <li><a href="/about/subsidiaries">Subsidiaries</a></li> 
                        </ul> 
                    </li> 
                    <li> 
                        <h2>Offshore Oilfield Services</h2> 
                        <ul> 
                            <li><a href="/services/fleet">Fleet</a></li> 
                            <li><a href="/services/fleet/logistics">Logistics</a></li> 
                            <li><a href="/services/fleet/drilling">Drilling</a></li> 
                            <li><a href="/services/fleet/construction">Construction</a></li> 
                            <li><a href="/services/qhse">Quality, Health, Safety, and Environment</a></li> 
                        </ul> 
                    </li> 
                    <li> 
                        <h2>Corporate Relations</h2> 
                        <ul> 
                            <li><a href="/contact/offices">Offices</a></li> 
                            <li><a href="/careers">We're Hiring</a></li> 
                            <li><a href="/legal/policy">Company Policy</a></li> 
                            <li><a href="/press">Press Releases</a></li> 
                            <li><a href="/contact/suppliers">Supplier Relations</a></li> 
                            <li><a href="/contact/feedback">Feedback</a></li> 
                        </ul> 
                    </li>
                </ul>
                <div id="copyright"> 
                    <p><strong>Content Copyright &copy; 2008, 2009, 2010 <a href="/">Greatship (India) Ltd</a></strong>. All rights reserved.</p> 
                    <p>Portions Copyright &copy; 2008, 2009, 2010 <a href="http://www.happychickoo.com/">HappyChickoo</a>.</p> 
                    <p>Designed and developed by <a href="http://www.happychickoo.com/">HappyChickoo</a></p> 
                    #*<p> 
                        <a href="http://www.happychickoo.com/"><img src="http://static.greatshipglobal.com/public/images/logo/48x48/chickoo_white_silhuette.png" width="48px" height="48px" alt="HappyChickoo Logo" /></a> 
                    </p>*# 
                </div>
			{% end %}
            </div>
		</div>
		{% end %}
		{% end %}
	</div>
	{% end %}
{% end %}
{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = ["{{ JQUERY_URL }}"];
</script>
{% block tag_scripts_ie6update %}
<!--[if lt IE 7]>
<script type="text/javascript">window.IE6UPDATE_OPTIONS = {'icons_path': "{{ MEDIA_URL }}image/ie6update/"};
window.__hc_scripts.push("{{ MEDIA_URL }}script/ie6update/ie6update{{ JS_MINIFIED }}.js");</script>
<![endif]-->
{% end %}
{% end %}
{% block tag_scripts_other %}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function(){
    var customSearchControl = new google.search.CustomSearchControl('013410470487018134840:jjdhofp7tm0');
    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
{% end %}