{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1>Energy and offshore services. <strong>Worldwide.</strong></h1>
    <ul id="splash-presentation">
        <li><a href="/services/qhse" id="landing-qhse" class="icon"></a></li>
        <li class="separator"></li>
        <li><a href="/services/fleet/drilling" id="landing-drilling" class="icon"></a></li>
        <li class="separator"></li>
        <li><a href="/services/fleet" id="landing-fleet" class="icon"></a></li>
        <li class="separator"></li>        
        <li><a href="/services/fleet/construction" id="landing-construction" class="icon"></a></li>
        <li class="separator"></li>
        <li><a href="/services/fleet/logistics" id="landing-logistics" class="icon"></a></li>
    </ul>
    <ul class="news-ticker">
        {% for post in posts %}                    
        <li>Headlines | <a href="/press/post{{ post.path }}">{{ post.title|truncate(150) }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">$SELECTOR_SCRIPT</script>
{% endblock %}
