{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1>Our visionaries. <strong>The Management.</strong></h1>
    <ul id="management-gallery" class="gallery">
        <li>
            <a href="/about/management/1"><img src="{{ MEDIA_URL }}image/photo/ravi_sheth.jpg" /></a>
            <div class="info">
                <h2>Ravi Sheth</h2>
                <p>After having done his whatever.</p>
            </div>
        </li>
        <li>
            <a href="/about/management/2"><img src="{{ MEDIA_URL }}image/photo/shesh.jpg" /></a>
            <div class="info">
                <h2>Sheshashayee Venkataraman</h2>
                <p>After having done his whatever.</p>
            </div>
        </li>
        <li>
            <a href="/about/management/3"><img src="{{ MEDIA_URL }}image/photo/alok_mahajan.jpg" /></a>
            <div class="info">
                <h2>Alok Mahajan</h2>
                <p>After having done his whatever.</p>
            </div>
        </li>
        <li>
            <a href="/about/management/4"><img src="{{ MEDIA_URL }}image/photo/p_r_naware.jpg" /></a>
            <div class="info">
                <h2>P R Naware</h2>
                <p>After having done his whatever.</p>
            </div>
        </li>
    </ul>
{% endblock %}
