{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1><span class="icon management"></span>Our visionaries. <strong>The Management.</strong></h1>
    <div class="article plain">
        <div class="content">
            <div class="two_column">
              <h2>Board of Directors</h2>
              <ul>
                  {% for board_director in board_directors %}
                      <li>{{ board_director.full_name }}{% if board_director.designation %}, {{ board_director.designation }}{% end %}</li>
                  {% end %}                  
              </ul>
            </div>
            <div class="two_column">
              <h2>Senior Management</h2>
              <ul>
                  {% for senior_manager in senior_managers %}
                      <li>{{ senior_manager.full_name }}{% if senior_manager.designation %}, {{ senior_manager.designation }}{% end %}</li>
                  {% end %}
                  
              </ul>
              <h2>Auditors</h2>
              <ul>
                  {% for auditor in auditors %}
                      <li>{{ auditor.full_name }}</li>
                  {% end %}
                  
              </ul>
            </div>
        </div>
    </div>
    <div class="article plain">
        <div class="content">        
            <ul id="management-gallery">
                {% for manager in managers %}
                    <li>
                        <div class="photo">
                            <img src="{{ manager.photo_url }}" />
                        </div>
                        <div class="info">
                            <h2>{{ manager.full_name }} <strong>{{ manager.designation }}</strong></h2>
                            <div class="content">
                                {{ manager.description_html }}
                            </div>
                        </div>
                    </li>
                {% end %}
            </ul>

        </div>
    </div>

{% end %}
