{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon globe"></span>Offshore and energy services. <strong>Going global.</strong></h1>
    <div class="article plain columns">
        <div class="content">
            <h2>Greatship Global Energy Services</h2> 
            <p>Greatship Global Energy Services Pte. Ltd. (GGES) was incorporated in 2006. GGES shall focus on drilling services, with the intention of becoming a globally reputed drilling contractor.</p> 
            <p>GGES made its first investment in a new-building 350-foot jack-up rig ("Greatdrill Chitra") at Keppel FELS, Singapore. Greatdrill Chitra was delivered to GGES on October 19, 2009. In addition to this owned rig, the company has also in-chartered a new-built rig of the same design ("Greatdrill Chetna") on a bare-boat basis for a period of 3 years till March 2012.</p> 
            <h3>Directors</h3> 
            <ul> 
                <li> 
                    Mr. V. Sheshashayee (Executive Director)
                </li> 
                <li> 
                    Mr. P R Naware
                </li> 
                <li> 
                    Mr. Jaya Prakash
                </li> 
                <li> 
                    Mr. Arangannal
                </li> 
            </ul> 
            <p>Auditors: Shanker Iyer & Co.</p> 
            <p>Bankers: The Royal Bank of Scotland, Singapore</p> 

            <h2>Greatship Global Offshore Services</h2>
            <p>Greatship Global Offshore Services Pte. Ltd (GGOS) was incorporated in 2007, with the intention of developing it into a best-in-class offshore construction services provider. The aim of this company is to operate in the more specialized domain of offshore and sub-sea construction, which requires specialized support vessels, including multi-purpose platform supply and support vessels (MPSSVs), multi-purpose support vessels (MSVs), diving support vessels and ROV support vessels.</p>
            <p>GGOS, by 2011, will own and operate seven modern, state-of-art offshore vessels which include 1 AHTSVs, 3 MPSSVs, 2 MSVs and 1 ROVSVs.</p>
            <p>All our vessels are built to the highest standards of safety and operational efficiency and conform to existing and envisaged IMO and Class rules, and are capable of operating in offshore waters across the world.</p>
        
            <h3>Directors</h3>
            <ul>
                <li>Mr. V. Sheshashayee (Executive Director)</li>
                <li>Mr. P R Naware</li>
                <li>Mr. Jaya Prakash</li>
                <li>Mr. Arangannal</li>
            </ul>
            <p>Auditors: Shanker Iyer &amp; Co.</p>
            <p>Bankers: The Royal Bank of Scotland, Singapore</p>


            <h2>Greatship Global Holdings Ltd.</h2> 
            <p>Greatship Global Holdings Ltd. was incorporated on May 30th 2007.</p> 
            <h3>Directors</h3> 
            <ul> 
                <li> 
                    Mr. Ravi K. Sheth
                </li> 
                <li> 
                    Mr. P R Naware
                </li> 
                <li> 
                    Ms. Veronique Magny Antoine
                </li> 
                <li> 
                    Ms. Priscille Koenig
                </li> 
                <li> 
                    Ms. Rezah Cotobally (Alternate to Ms. Priscille Koenig)
                </li>
                <li>
                    Mr. Shameel Rumjaun (Alternate to Ms. Veronique Magny Antoine)
                </li>
            </ul> 
            <p>Auditors: UHY Heeralall</p> 
            <p>Bankers: HSBC Bank, Mauritius</p>
            
            <h2>Greatship DOF Subsea Projects Private Limited</h2>
            <p>Greatship DOF Subsea Projects Private Limited (GDOF) was incorporated as the Wholly Owned Subsidiary of the Company in 2008.</p> 
            <p>The Joint venture agreement with DOF Subsea ASA, pursuant to which GDOF was incorporated, has been terminated by mutual consent.</p>
            <h3>Directors</h3>
            <ul>
              <li>
                Mr. Ravi K. Sheth              
              </li>
              <li>
                Mr. P R Naware              
              </li>
            </ul>
            <p>Auditors: Kalyaniwalla and Mistry</p>
            <p>Bankers: The Royal Bank of Scotland, Mumbai</p>

            <h2>Greatship Subsea Solutions Singapore</h2>
            <p>Greatship Subsea Solutions Singapore Pte. Ltd. (GSS) was incorporated as a wholly owned subsidiary of GGOS on August 12, 2010. The Company has been incorporated with the intention of chartering of offshore supply and support vessels and providing offshore oilfiled services relating to subsea operations.</p>
            <h3>Directors</h3>
            <ul>
              <li>Mr. V. Sheshashayee</li>
              <li>Mr. Arangannal</li>
            </ul>
            <p>Auditors: Shanker Iyer & Co.</p>
            <p>Bankers: The Royal Bank of Scotland, Singapore</p>


            <h2>Greatship Subsea Solutions Australia</h2>
            <p>Greatship Subsea Solutions Australia Pty Limited (GSA) was incorporated as a wholly owned subsidiary of GSS on August 17, 2010. The Company has been incorporated with the intention of commencing the offshore construction/ subsea services business.</p>
            <h3>Directors</h3>
            <ul>
              <li>Mr. Christopher Mark Eastwell</li>
              <li>Mr. V. Sheshashayee</li>
              <li>Mr. Alok Mahajan</li>
            </ul>


            <h2>Greatship Global Offshore Management Services</h2>
            <p>Greatship Global Offshore Management Services Pte. Ltd. (GMS) was incorporated as a wholly owned subsidiary of GGOS on December 9, 2010. The Company has been incorporated with the intention of providing ship management services.</p>
            <h3>Directors</h3>
            <ul>
              <li>Mr. V. Sheshashayee</li>
              <li>Mr. P. V. Suresh</li>
              <li>Mr. Arangannal</li>
            </ul>
            <p>Auditors: Shanker Iyer & Co.</p>

            
            <h2>Greatship (UK) Limited</h2>
            <p>Greatship (UK) Limited (GUK) was incorporated as a wholly owned subsidiary of the Company on October 29, 2010. The Company has been incorporated with the intention of owning, chartering  and operating of offshore supply and support vessels.</p>
            <h3>Directors</h3>
            <ul>
              <li>Mr. Michael Brace</li>
            </ul>
        </div>
    </div>
    
    
{% end %}
