{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon globe"></span>Offshore and energy services. <strong>Going global.</strong></h1>
    <div class="article plain columns">
        <div class="content">
            <h2>Overview</h2>
            <p>The Greatship group has located its drilling services and offshore construction support businesses in Singapore. Singapore is presently a regional, and fast developing into a global hub for offshore oilfield services.</p>
            <p>Bankers: ABN AMRO Bank NV, Mumbai</p>
        
            <h2>Greatship Global Offshore Services</h2>
            <p>Greatship Global Offshore Services Pte. Ltd (GGOS) was incorporated in 2007, with the intention of developing it into a best-in-class offshore construction services provider. The aim of this company is to operate in the more specialized domain of offshore and sub-sea construction, which requires specialized support vessels, including multi-purpose platform supply and support vessels (MPSSVs), multi-purpose support vessels (MSVs), diving support vessels and ROV support vessels.</p>
            <p>GGOS, by 2011, will own and operate ten modern, state-of-art offshore vessels which include 2 AHTSVs, 4 MPSSVs, 2 MSVs and 2 ROVSVs to be delivered from Singapore, Colombo and India.</p>
            <p>All our vessels are built to the highest standards of safety and operational efficiency and conform to existing and envisaged IMO and Class rules, and are capable of operating in offshore waters across the world.</p>
            <p>The total investment commitment made in GGOS is about USD 385 million.</p>
        
            <h3>Directors</h3>
            <ul>
                <li>Mr. V. Sheshashayee (Executive Director)</li>
                <li>Mr. P R Naware</li>
                <li>Mr. Jaya Prakash</li>
                <li>Mr. Arangannal</li>
            </ul>
            <p>Auditors: Shanker Iyer &amp; Co.</p>
            <p>Bankers: ABN AMRO Bank NV, Singapore</p>

            <h2>Greatship Global Energy Services</h2> 
            <p>Greatship Global Energy Services Pte. Ltd. (GGES) was incorporated in 2006. GGES shall focus on drilling services, with the intention of becoming a globally reputed drilling contractor.</p> 
            <p>GGES made its first investment in a new-building 350-foot jack-up rig ("Greatdrill Chitra") at Keppel FELS, Singapore. Greatdrill Chitra was delivered to GGES on October 19, 2009. In addition to this owned rig, the company has also in-chartered a new-built rig of the same design ("Greatdrill Chetna") on a bare-boat basis for a period of 3 years.</p> 
            <h3>Directors</h3> 
            <ul> 
                <li> 
                    Mr. V. Sheshashayee (Executive Director)
                </li> 
                <li> 
                    Mr. P R Naware
                </li> 
                <li> 
                    Mr. Jaya Prakash
                </li> 
                <li> 
                    Mr. Arangannal
                </li> 
            </ul> 
            <p>Auditors: Shanker Iyer & Co.</p> 
            <p>Bankers: ABN AMRO Bank NV, Singapore</p> 

            <h2>Greatship Global Holdings Ltd.</h2> 
            <p>Greatship Global Holdings Ltd. was incorporated on May 30th 2007.</p> 
            <h3>Directors</h3> 
            <ul> 
                <li> 
                    Mr. Ravi K. Sheth
                </li> 
                <li> 
                    Mr. P R Naware
                </li> 
                <li> 
                    Ms. Veronique Magny Antoine
                </li> 
                <li> 
                    Ms. Priscille Koenig
                </li> 
                <li> 
                    Ms. Rezah Cotobally (Alternate to Ms. Priscille Koenig)
                </li> 
            </ul> 
            <p>Auditors: UHY Heeralall</p> 
            <p>Bankers: HSBC Bank, Mauritius</p>
        </div>
    </div>
    
    
{% end %}