{% extends "base.html" %}

{% block tag_trunk_content %}

    <h1><span class="icon legal"></span>Company policy. <strong>Meeting expectations.</strong></h1>
    <div class="article plain columns">
        <div class="content">
            <h2>Policy</h2>
            <p>With utmost consideration to ensure safety at sea, prevention of human injury or loss of life, and avoidance of damage to environment, in particular to the marine environment and to property, the company dedicates itself to meet the expectations of its customers and the aspirations of its stakeholders by ensuring that effective Quality, Occupational Health, Safety and Environment Management Systems are in place that comply with the mandatory rules and regulations, and take into account applicable codes, guidelines and standards recommended by the organization, administrations, classification societies and maritime industry organizations.</p>

            <p>In line with our strategy to be a market leader and a preferred safe service provider, we shall monitor and ensure the effectiveness and continual improvement of our systems, leading to excellence.</p>

            <p>With our firm belief in team success, we shall achieve our objectives by:</p>
            <ul>
                <li>Providing safe practices in ship and rig operations and safe working environment.</li>
                <li>Accessing all identified risks to its rigs, ships, personnel and the environment and by establishing appropriate safeguards.</li>
                <li>Continuously improving safety management skills of personnel ashore and aboard ships &amp; rigs, including preparing for emergencies related both to safety and environmental protection.</li>
                <li>Providing training and adequate resources to a highly motivated and an empowered workforce with due regard to its health and safety.</li>
            </ul>
            <p>This policy shall be implemented and maintained at all levels of the organization&mdash;ship-based, rig-based and shore-based.</p>
        </div>
    </div>

{% end %}

