{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon press"></span>Press Releases. <strong>What's new at Greatship?</strong></h1>
    
    <div class="article">
        <div class="content">
        {% for post in posts %}
            <h2><a href="/press/post{{ post.path }}">{{ post.title }}</a></h2>
            <p class="dateline">{{ post.when_published }}&mdash;{{ post.place }}</p>
            <div class="post-content">
                {{ post.content_html }}
            </div>
        {% end %}
        </div>
    </div>

{% end %}