{% extends "base.html" %}

{% block tag_trunk_content %}
    
    <h1><span class="icon contact"></span>Got services that might interest us? <strong>Get in touch.</strong></h1>
    <div class="article">
        <div class="content">            
            <h2>Tell us about your services.</h2>
            <p>Please enter information in all fields.</p>
            <form id="form-contact-services" class="decorated-fields vertical" method="POST" action="">
                <label for="name">
                    <span class="prefix">name</span>
                    <input type="text" name="name" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="designation">
                    <span class="prefix">designation</span>
                    <input type="text" name="designation" value="" />
                    <span class="suffix"></span>                    
                </label>
                <label for="website_url">
                    <span class="prefix">website url</span>
                    <input type="text" name="website_url" value="" />
                    <span class="suffix">For example: http://www.example.com is a Website URL.</span>            
                </label>                
                <label for="email">
                    <span class="prefix">email</span>
                    <input type="text" name="email" value="" />
                    <span class="suffix">Kindly enter a valid email address as we will contact you using this information.</span>                </label>                
                <label for="subject">
                    <span class="prefix">subject</span>
                    <input type="text" name="subject" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="content">
                    <span class="prefix">content</span>
                    <textarea name="content" cols="50" rows="10"></textarea>
                    <span class="suffix"></span>
                </label>
                <label for="captcha">
                    <span class="prefix">human beings only</span>
                    {{ captcha_html }}
                    <span class="suffix">A captcha is a test to distinguish between you and robots.  We dislike spam as much as you do and entering this information helps us receive genuine information.</span>
                </label>
                <label for="submit">
                    <span class="prefix"></span>
                    <input type="submit" class="awesome-button large" name="submit" value="&#10004; Send Information" />
                    <span class="suffix"></span>
                </label>
            </form>
        </div>
        <div class="aside">
            <h3>Welcome!</h3>
            <p>Our purchasing mission is to procure materials and services from approved sources in a professional, ethical, competitive and cost effective manner consistent with company policies, procedures and business objectives, while promoting supplier relationships.</p>
            <p>GIL welcomes service providers to post in their presentations relating to the field of offshore oil field support services using the following form:</p>
            <h3>Terms and conditions</h3>
            <p>Kindly read through the terms and conditions for each of our subsidiaries which are of interest to you before sending us information about yourself.</p>
            <p>Sending information about yourself to us implies that you agree with our <a href="/legal/policy">policy</a> and terms of service:</p>
            <ul>
                {% for legal_terms in legal_terms_list %}
                <li><a href="/legal/terms/{{ legal_terms.slug }}">{{ legal_terms.title }}</a></li>                    
                {% end %}
            </ul>
        </div>
    </div>

{% end %}
