{% extends "base.html" %}

{% block tag_trunk_content %}
    <h1>Our world in pictures. <strong>Work is fun. No, really!</strong></h1>
    <ul id="careers-gallery" class="gallery">
        {% for tour_picture in tour_pictures %}
        <li>
            <a target="_blank" href="{{ tour_picture.image_url }}">
                <img src="{{ tour_picture.thumb_url }}" title="{% if tour_picture.caption %}{{ tour_picture.caption }}{% end %}" />
                <span>{% if tour_picture.caption %}{{ tour_picture.caption }}{% end %}</span>
            </a>
            #*<div class="info">
                <h2>{% if tour_picture.caption %}{{ tour_picture.caption }}{% end %}</h2>
                <div class="content">
                  {{ tour_picture.description }}
                </div>
            </div>*#
        </li>
        {% end %}
    </ul>
{% end %}
